{
  "import": {
    "chunk_size": 100000,
    "num_workers": 8,
    "hagen_data_dir": "[path where data archives are stored]",
    "redarcs_data_dir": "[path where data archives are stored]",
    "fourplebs_data_dir": "[path where data archives are stored]",
    "init_script": "scripts/create_database.sql",
    "_drop_all_data_comment": "WARNING! setting drop_all_data to 'true' will delete existing database",
    "drop_all_data": false,
    "run_mode": "[choose an available key from run_modes]",
    "run_modes": {
      "[run_mode_key]": {
        "db_name": "db/data_[identifier].db",
        "skip_import": [
          "[any of combination: hagen, redarcs, fourplebs]",
        ],
        "date_range": {
          "start": "[Start Range formatted as YYYY-MM-DDTHH:MM:SS; or date_range = null]",
          "end": "[Start Range formatted as YYYY-MM-DDTHH:MM:SS; or date_range = null]"
        },
        "file_exclusions": [
          "[any file name to exclude or null]"
        ]
      }
    }
  },
  "images_import": {
    "db_name": "db/images_[identifier].db",
    "init_script": "scripts/create_imagesdatabase.sql",
    "_drop_all_data_comment": "WARNING! setting drop_all_data to 'true' will delete existing database",
    "drop_all_data": true,
    "chunk_size": 32000,
    "num_workers": 8,
    "fourplebs_thumbs_dir": "[path where images archives are stored]",
    "fourplebs_images_meta_dir": "[path where images metadata are stored",
    "archive_org_dl_url": "https://archive.org/download/",
    "file_exclusions": [
          "[any file name to exclude or null]"
        ],
    "date_range": {
      "start": "[Start Range formatted as YYYY-MM-DDTHH:MM:SS; or date_range = null]",
      "end": "[Start Range formatted as YYYY-MM-DDTHH:MM:SS; or date_range = null]"
    }
  },
  "analysis": {
    "html_template": "scripts/analysis.html",
    "favicon": "scripts/favicon.ico",
    "markers_ods": "config/markers.ods",
    "results_dir": "results/",
    "dryrun": false,
    "sample_mode": "[1percent or hagen]"
  }
}